*{
	padding: 0px;
	margin: 0 auto;
}
body{
	background-image: url(fondo2.gif);
	background-attachment: fixed;
}
.principal{
	width: 500px;
	height: 600px; 
	margin-top: 20px;
	border: solid 3px cyan;
}
.texto1{
	width: 420px;
	height: 160px;
	margin-top: 20px;
	border: solid 2px green;
}
.texto1 p{
	color: white;
	font-family: Cursiva;
	font-size: 36px;
	margin-top: -40px;
}
.vinculo1{
	width: 420px;
	height: 40px;
	float: center;
	border: solid 2px red;
}
.vinculo1 a{
	text-decoration:none;
	color: white;
	margin-top: -50px;
}